.body-pages {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1em;
}

.section {
    display: flex;
    width: 100%;
    flex: 1;
    min-height: 0;
    gap: 1em;
}

.options {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    gap: 1em;
}

    .options div {
        background: var(--bg);
        padding: 1rem 1.3rem 1rem 1.3rem;
        border-radius: 0.5em;
        color: var(--text)
    }

.t {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-height: 0;
}

.t-head {
    width: 100%;
    padding: 1rem 1rem 1rem 1.2rem;
    background: var(--bg);
    border-radius: 0.5em 0.5em 0em 0em;
}

.t-body {
    flex: 1;
    border-top: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0em 0em 0.5em 0.5em;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 1.2rem;
    align-items: center;
    background: var(--bg);
    border-radius: 0.5em;
}

    .search i {
        color: var(--text)
    }

    .search div {
        display: flex;
        align-items: center;
        gap: 1em;
    }

input {
    display: flex;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    color: var(--text);
    outline: none;
}

    input::placeholder {
        color: var(--text) !important
    }
