@import url("../shared/letters/letter-size.css");
@import url("../shared/themes/themes.css");


* {
    font-family: "Poppins", sans-serif;
    font-weight: 300 !important;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

button {
    background: transparent;
    border: none;
    color: var(--text);
}
